html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

html, body {
  background: url("../static/bg.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
#root {
  background-image: url("../static/bg.png");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.ant-layout {
  background: none !important;
}
