html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

html, body {
  background: url("../static/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ant-layout {
  background: none !important;
}
